@charset "utf-8";
/* CSS Document */

.t1{
	color: red;
}
body {
	margin-top: 70px;
background:url(../img/fondo.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
p{
	color:#FFF;
}
.t2{
	color: white;
}
